.navbar {
  padding: 0;
  flex: 0 1 120px;
}

.navbar-collapse {
  margin-bottom: 20px;

  a { margin-bottom: 4px; }
}

.navbar-brand {
  font-family: $header-font;
  font-size: 65px;
  color: black;
  
  &:hover { color: black; }
}

.fas, .fa-bars { font-size: 25px; }

.navbar-link {
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 700;
  color: $gray;
  padding: 0 15px;

  &:hover {
    color: $gray;
    text-decoration: none;
  }
}
