@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

$base-font: 'Amiko', sans-serif;
$header-font: 'Bebas Neue', cursive;
$red: rgb(213, 20, 35);
$gray: rgb(70, 70, 70);
$ligth-gray: rgb(90, 90, 90);
$dark-gray: rgb(50, 50, 50);

body {
  font-family: $base-font;
  font-weight: 400;
  color: $ligth-gray;
}

h1 {
  font-family: $header-font;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 70px;
}

h2 {
  color: $gray;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
}

.name {
  margin-bottom: 10px;

  h1 {
    margin: 0;
    line-height: 60px;
  }
}

.job-title > h2 {
  font-size: 16px; 
  margin-bottom: 4px;
}